/* ----------------- Color Palette ----------------- */

/*

Royal blue - #354072
Navy blue - #16192b
Green - #43746b
Grey - #e1e1e1
White - #fff
Black - #000

*/

/* ----------------- CSS Reset ----------------- */

/* null margins and padding to give good cross-browser baseline */
html,body,address,blockquote,div, form,fieldset,caption, hr, table,tr,td,th,p,img {
margin:0;
padding:0;
}

img,fieldset {
border:none;
}

/* ----------------- HTML 5 Outline ----------------- */

.outline {
	display: none;
}

body {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 20px;
	line-height: 1.25;
}

.paddingL {
	padding-left: 100px;
}

.paddingR {
	padding-right: 100px;
}


h2 {
	text-align: center;
	font-size: 44px;
	margin-top: 50px;
}

p, li {
	margin-bottom: 25px;
}

.do, .work, .about, .contact { /* To include heading margin inside of section; ?? why does heading margin not have background color otherwise? */
	padding-top: 1px;
	padding-bottom: 75px;
}

nav {
	background-color: #354072;
	padding: 14px 0 14px 0;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display:inline-block;
}

nav li {
	float: left;
	margin-right: 50px;
	font-size: 18px;
	margin-bottom: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
}

header {
	background-color: #16192b;
	color: #fff;
	text-align: center;
	position: relative; /* To allow for positioning of photo */
	z-index:2;
	padding-top: 1px;
}


header img {
	position: relative;
	z-index: 1;
	bottom: -100px;
}

.headline {
	font-family: 'Vidaloka', serif;
	font-size: 78px;
	margin-top: 75px;
}

.subhead {
	font-size: 35px;
	margin-top: 25px;
	margin-bottom: 0;
}

.do {
	background-color: #43746b;
	color: #fff;
	padding-top: 75px;
}

.do h2 {
	background-color: #43746b;
	padding: 25px;
}

.do ul {
	list-style: none;
	padding:0;
}

.do ul li:before {
	content: '> \0000a0'; /* ?? Is there a better way to use a carrot as a list item symbol */
}

.work {
	background-color: #e1e1e1; /* ?? How do I add margins in between and make the last in row meet the edge of the right padding, so its 50px away from edge? */
}

.work h2 {
	border-bottom: 1px solid #000;
	padding-bottom: 25px;
}

.sample {
	display: inline-block;
	width: 300px;
}

.about {
	background-color: #43746b;
}

.contact {
	background-color: #354072;
	color: #fff;
}

.contact h2 {
	padding-bottom: 25px;
	border-bottom: 1px solid #fff;
}

.callout {
	background-color: #16192b;
	padding: 50px 25px 50px 25px;
	text-align: center;
	margin:50px 0 50px 0;
	
}

.callout p {
	margin-bottom: 0;
}

.social {
	text-align:center;
}

.social a {
	margin:0 10px 0 10px;
}